.hidden{
    display: none;
}

pre code {
    border-left: 4px solid darkblue;
    padding-left: 1.2em !important;
}

*:focus { outline: none; }

.monospaced {
    font-family: 'Courier New', Courier, monospace;
    background-color: #ededed;
    border-radius: 5px;
    padding-left: .5em;
    padding-right: .5em;
}

#disqus_thread {
    margin: 20px 40px;
}
