/*
body {
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
*/

body {

    color: #042640;

}

#views_container {
    margin-top: 10px;
}

#index_navbar_username {
    color: #fff;
}

#index_navbar_dropdown {
    background-color: #042640;
    border-color: #042640;
    outline: none;
    box-shadow: none;
}

table {
    font-size: 0.9em;
}

i.fas {

    color: #042640;

}

#overlay {
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    z-index: 5000;
    height: 100%;
    width: 100%;
    background: #ffffff;
  }

/*
    Frame for datatables  
*/
.zombi_datatables_frame .navbar {

    height: 48px;

}

.zombi_datatables_frame .card-header {

    padding: 0px;

}

.zombi_datatables_frame input {

    font-size: 0.8em; height: 1.8em; padding:0px;

}

.zombi_datatables_frame .card-body {

    padding: 4px;

}

.zombi_datatables_frame .card-body table {

    width:100%; 
    margin-top: 0px;
    margin-top: 0px !important;

}

.zombi_datatables_frame .card-body table thead th {

    border-bottom: 0px;
    border-top: 0px;

}

.zombi_datatables_frame h6 {

    margin: 0px;

}

.over-x {

  overflow-x: auto;

}

