<div class="card zombi_datatables_frame">
        <div class="card-header">
            <nav class="navbar navbar-expand-sm navbar-light bg-light justify-content-end">
                <h6><span class="i18n" data-i18n="SESSIONS">SESSIONS</span></h6>
    
                <div class="btn-group ml-auto mr-1">
    
                    <div class="form-inline">
                        <div class="form-group">
                            <label for="sessions_table_search"><span class="i18n" data-i18n="SEARCH">SEARCH</span></label>
                            <input type="text" id="sessions_table_search" class="form-control mx-sm-3" aria-describedby="passwordHelpInline">
                        </div>
                    </div>
    
                </div>
    
                <div class="btn-group ml-auto mr-1">
                    <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="i18n" data-i18n="ACTIONS">ACTIONS</span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <!-- <button id="sessions_table_user_add" class="dropdown-item" type="button"><strong><span class="i18n" data-i18n="NEW_USER">NEW_USER</span></strong></button> -->
                        <button id="sessions_table_refresh" class="dropdown-item" type="button"><span class="i18n" data-i18n="REFRESH_TABLE">REFRESH_TABLE</span></button>
                        <!-- <button id="sessions_table_download" class="dropdown-item" type="button"><span class="i18n" data-i18n="DOWNLOAD">DOWNLOAD</span></button> -->
                    </div>
                </div>
            </nav>
        </div>
        <div class="card-body">
            <table id="sessions_table" class="table table-sm">
                <thead>
                    <tr>
                        <th><span class="i18n" data-i18n="USER">USER</span></th>
                        <th><span class="i18n" data-i18n="MESSAGE">MESSAGE</span></th>
                        <th><span class="i18n" data-i18n="TOKEN">TOKEN</span></th>
                        <th><span class="i18n" data-i18n="DATA">DATA</span></th>
                        <th><span class="i18n" data-i18n="CREATED">CREATED</span></th>
                        <th><span class="i18n" data-i18n="UPDATED">UPDATED</span></th>
                        <th><span class="i18n" data-i18n="DELETE">DELETE</span></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    
    
    
    
    
    